# fly.toml app configuration file generated for eventbridge-api on 2026-01-31T12:48:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'eventbridge-api'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
